html {
    scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
   box-sizing: border-box;
}

body {
  height: 100vh;
  background: #161616;
  color: white;
  padding: 20px ;  
  background-color: #0a0a0f;

}